body {
    background-color:black;
}

h1{
    color:white;
    text-align:center;
    font-family: 'Acumin Pro', sans-serif;
    font-size:40px;
}

li::marker {
    color: white;
  }

a{
    color:white;
    text-decoration:none;
    font-size:27px;
    font-family: 'Acumin Pro', sans-serif;
}

a:hover{
    color:red;
}

ul {
    display: table;
    margin: 0 auto;
    padding-top:350px;
    
  }
