*{
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    margin:0;
    padding:0;
    background-color:black;
    font-family: Arial, Helvetica, sans-serif;
}


h1,
h2{
    color:white;
    text-align:center;
    font-size:13vw;
    margin:15px;
}


h2{
    font-size:6vw;
    margin-bottom:30px;
    margin-top:30px;
}


img{
    height:60vw;
    width:90vw;
    padding:2px;
}


a{
    color:white;
    text-decoration:none;
}


#wrapper{
    display:flex;
    text-align:center;
    margin: 0 auto;
}


div{
    width:100vw;
}


@media screen and (min-width: 600px){
    img{
        height:290px;
        width:435px;
    }
    h1{
        font-size:5vw;
    }

    h2{
        font-size:2vw;
    }
}   


@media screen and (min-width: 700px) and (max-width:900px){
    img{
        height:30vw;
        width:45vw;
    }
    h1{
        font-size:9vw;
    }

    h2{
        font-size:4vw;
    }
}
