*{
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

body {
    background-color:black;
}

h1,
h2{
    color:white;
    text-align:center;
    font-family: 'Acumin Pro', sans-serif;
    font-size:5vw;
    margin-bottom:0px;
}

h2{
    font-size:2vw;
    margin-bottom:30px;
    margin-top:30px;
}


img{
    height:280px;
    width:420px;
    padding:2px;
}

a{
    color:white;
    text-decoration:none;
}

#wrapper{
    text-align:center;
   }